# docker-compose.yaml
version: '3.7'
services:
  {{ bot_names[0] }}:
    restart: always
    image: golang:latest
    command: bash -c "chmod +x init.sh && sh init.sh"
    volumes:
      - ./init.sh:/go/init.sh
    environment:
      - AFINA_LOCALE={{ bot_locale }}
      - AFINA_API_KEY={{ bot_api_key }}
      - TB_API_KEY={{ tb_api_key }}
      - AFINA_NAMES={{ bot_names[0] }},{{ bot_names[1] }}
      - AFINA_GENDER={{ bot_gender }}
      - OWNER={{ owner }}
      - REDIS_DB={{ redis_db_num }}
      - REDIS_IP={{ ansible_default_ipv4.address }}:6379
      - REDIS_PASS={{ redis_pass }}
volumes:
  afina-storage:
